#include <winuser.h>
MAINICON ICON "icon.ico"

NIKO1 BITMAP "niko1.bmp"
NIKO2 BITMAP "niko2.bmp"
NIKO3 BITMAP "niko3.bmp"

default BITMAP "default.bmp"
t1 BITMAP "t1.bmp"
t2 BITMAP "t2.bmp"
t3 BITMAP "t3.bmp"
t4 BITMAP "t4.bmp"
t5 BITMAP "t5.bmp"
t6 BITMAP "t6.bmp"
t7 BITMAP "t7.bmp"
t8 BITMAP "t8.bmp"
t9 BITMAP "t9.bmp"
t10 BITMAP "t10.bmp"
t11 BITMAP "t11.bmp"
t12 BITMAP "t12.bmp"
t13 BITMAP "t13.bmp"
t14 BITMAP "t14.bmp"
t15 BITMAP "t15.bmp"
t16 BITMAP "t16.bmp"
c1 BITMAP "c1.bmp"
c2 BITMAP "c2.bmp"
c3 BITMAP "c3.bmp"
c4 BITMAP "c4.bmp"
c5 BITMAP "c5.bmp"
c6 BITMAP "c6.bmp"
c7 BITMAP "c7.bmp"
s1 BITMAP "s1.bmp"
s2 BITMAP "s2.bmp"
s3 BITMAP "s3.bmp"
s4 BITMAP "s4.bmp"
save BITMAP "save.bmp"
final BITMAP "final.bmp"
