*.o
*.pro.*
*.bak
*.xxd
*.exe
*.app
*.bmp
*.lproj

*.tmp
*.vcxproj
*.filters
*.sln
*.user

bin/
lib/
*.dir/
x64/

Makefile*

/oneshot
/steamshim_parent/steamshim

__pycache__
/build*
/dist
/debug
/release
steamshim_parent/build/
*.out

object_script.*
rpgscript.bat
rpgscript - mklang.bat
oneshot_JA_2_merge.pot
oneshot_JA_2_merge-jpn.pot
oneshot_JA_2_ver4.pot
oneshot_JA_2_fixed_ver3.pot
oneshot_JA_2_ver3_checked.pot
oneshot_JA_Mariko1_WIP.pot
*.pot
xScripts.rxdata

.qmake.stash
CMakeCache.txt
CMakeFiles/
cmake_install\.cmake
conanbuildinfo\.cmake
conaninfo\.txt
conanbuildinfo\.txt
conan_imports_manifest\.txt
package/

oclint/
conan-steamworks/
steamworks/
.vs/
assets/icon.ico
assets/icon.ico

src/version.h

!build-entrypoint-linux.sh
!build-entrypoint-windows.bat

.vscode
