*.o
*.pro.*
*.cmake
*.bak
*.xxd
*.exe
OneShot.app
_______.app
*.bmp
*.lproj

Makefile*

/oneshot
/steamshim_parent/steamshim

__pycache__
/build*
/dist
/debug
/release

object_script.*
rpgscript.bat
rpgscript - mklang.bat
oneshot_JA_2_merge.pot
oneshot_JA_2_merge-jpn.pot
xScripts.rxdata

.qmake.stash
CMakeCache.txt
CMakeFiles/
