*.o
*.pro.*
*.bak
*.xxd
*.exe
*.app
*.bmp
*.lproj

Makefile*

/oneshot
/steamshim_parent/steamshim

__pycache__
/build*
/dist
/debug
/release

object_script.*
rpgscript.bat
rpgscript - mklang.bat
oneshot_JA_2_merge.pot
oneshot_JA_2_merge-jpn.pot
oneshot_JA_2_ver4.pot
oneshot_JA_2_fixed_ver3.pot
oneshot_JA_2_ver3_checked.pot
oneshot_JA_Mariko1_WIP.pot
*.pot
xScripts.rxdata
OneShot

.qmake.stash
CMakeCache.txt
CMakeFiles/

oclint/
