<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>OneShot</string>
		<key>CFBundleDisplayName</key>
		<string>OneShot</string>
		<key>CFBundleGetInfoString</key>
		<string>You only have one shot.</string>
		<key>CFBundleIdentifier</key>
		<string>queengooborg.oneshot-game.osx</string>
		<key>CFBundleExecutable</key>
		<string>oneshot.sh</string>
		<key>CFBundleIconFile</key>
		<string>icon.icns</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleVersion</key>
		<string>macOS Port v.0.3.1 (OneShot Solstice Update)</string>
		<key>CFBundleShortVersionString</key>
		<string>0.3.1</string>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.games</string>
		<key>LSMinimumSystemVersion</key>
		<string>10.7</string>
		<key>LSBackgroundOnly</key>
		<string>0</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2017, OneShot team, all rights reserved.  View CREDITS.txt for more.  Ported for macOS by Vinyl Darkscratch.</string>
		<key>NSHighResolutionCapable</key>
		<string>False</string>
	</dict>
</plist>
