# steamworks zip itself, please download manually
# steamworks_sdk_151.zip

# for testing, if you want
test_package/steam_appid.txt

# other files conan generated
conanbuildinfo.txt
conaninfo.txt
conan.lock
graph_info.json
sdk/
test_package/build
